/* Product detail section */
.item-section {
    padding: 20px 0;
}

/* product detail image */
.item-detail {
    display: flex;
    justify-content: start;
}

.item-img{
    display: flex;
    flex: none;

}

.detail-section{
    flex: none;
}